body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0; 
  box-sizing: content-box;
  align-content: center;
}
.page {
  width: 1040px;
  margin: 0 auto;
  
  background-color:black;

}
a { 

  text-decoration: none;
}

header, footer  {
  background-color: #bd1e1e;
  padding: 0.5rem;

}
header {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;

}
header img {
  width: 135px;
  grid-column: 2/3;
}

header h1 {
  
  grid-row: 1/2;
  text-align: center;
  margin-top: 55px;
  font-size: 2.5rem;
}

.nav1 {
  list-style-type: none;
  display: flex;
  margin-top: 40px;
  position: relative;
  right: 40px;
  grid-column-gap: 5px;
  width: 100%;
}

.nav1 li {
  flex: 1 1 auto;
}

.nav1 a {
  display: block;
  padding: 1rem;   
  border: 2px solid;
  font-size: 1.4rem;
  border-radius: 50%;
  height: 30px;
  text-align: center;
  background-color: white;
}
.nav1 a:hover {
  color: white;
  background-color: black;
}

.banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center ;
}
.banner p {
  color: white;
  text-align: justify;
  font-size: 1.1rem;
  padding: 10px;
  padding-right: 25px;
}

.banner img {
  padding-left: 20px;
  padding-top: 15px;
  width: 95%;
  padding-right: 15px;
}
.home_item_1 {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  padding: 10px;
  grid-column-gap: 20px;
  align-items: center;
}

.home_item_1 p {
  
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 10px;
  color: white;
  text-align: justify;
  font-size: 1.1rem;
  
  
}
.home_item_1 img {
  grid-column: 2/3;
 
  
}
footer{
  display: grid;
  grid-template-columns: 505px 1fr 1fr;
}

footer p {
   text-align: center;
   font-size: 1.2rem;
 
}
.socialmedia img {

  width: 25%;
  

}

 
.button {
  color: black;
}

.button h2:hover{
  color:black;
  font-size: 1.6rem;
}
 